div.category-container {
	width: 600px;
	height: 100%;
	padding: 1rem;
	background-color: white;
}
div.category-container > form {
    padding: 1rem;
    margin-top: 1rem;
    box-shadow: 3px 3px 2px #aaa;
    border-radius: 0.2rem
}
div.category-container > form > textarea {
    flex: 1;
    border-radius: 0.2rem;
    height: 6rem;
}