div.category-container {
    width: 600px;
    height: 100%;
    padding: 1rem;
    background-color: #FEFEF3;
}
div.category-container > header.category-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}