div.post-item.details div.comment-list {
    border-top: 1px solid lightgray;
    padding-top: 3rem;
    padding-bottom: 1rem;
}
div.post-item.details div.comment-list header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div.post-item.details div.comment-list header h4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div.post-item.details div.comment-list header h4 span { margin-left: 0.5rem; }